<footer class="container-fluid bg-dark text-white position-fixed bottom-0 w-100">
    <div class="col-12 col-xl-8 d-flex justify-content-between mx-auto py-3">
        <span class="fw-bold">FUN CIPHER CINEMA</span><span>Thiết kế bởi 22880300</span>
    </div>
</footer>