{{> Dau_Trang}}
<div class="p-4 m-1"></div>
<div class="container-fluid">
    <h3 class="col-12 col-xl-8 mx-auto my-4">Màn Hình Báo Cáo Thống Kê Số Vé Bán</h3>
    <div class="pt-1"></div>

    <form onSubmit="Thong_Ke_Ve_Ban(event)">
        <h5 class="row col-12 col-xl-8 mx-auto my-4">
            Nhập Tiêu Chí Thống Kê
        </h5>
        <div class="row col-12 col-xl-8 mx-auto my-4">
            <div class="col-3 col-md-2 px-1">
                <input class="form-control" min="1" max="12" type="number" name="Thang" id="Thang"
                    placeholder="Tháng...">
            </div>
            <div class="col-3 col-md-2 px-1">
                <input class="form-control" min="2000" type="number" name="Nam" id="Nam" placeholder="Năm...">
            </div>
            <div class="col-3 col-md-2 px-1">
                <button type="submit" class="btn btn-success">Lọc</button>
            </div>
        </div>
    </form>
    <div class="rows col-12 col-xl-8 mx-auto my-4 alert alert-warning d-none" id="Thong_Bao_Loi"></div>
    <div class="rows col-12 col-xl-8 mx-auto my-4 d-none" id="Bang_Danh_Sach_Xuat_Chieu">
        <div class="py-2"></div>
        <h4 class="fw-bold">Kết Quả Thống Kê Vé Bán</h4>
        <div class="row my-4 fs-5">
            <div class="col-6 col-md-2">
                <span class="fw-bold">Tháng</span>: <span id="Ket_Qua_Thang"></span>
            </div>
            <div class="col-6 col-md-2">
                <span class="fw-bold">Năm:</span> <span id="Ket_Qua_Nam"></span>
            </div>
            <div class="col-12 col-md-8 text-end">
                <span class="fw-bold">Tổng Số Vé:</span> <span id="Ket_Qua_Tong_So_Ve"></span>
            </div>
        </div>
        <div class="col-12 table-responsive">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Ca Chiếu</th>
                        <th scope="col">Số Vé Bán</th>
                        <th scope="col">Tỷ Lệ</th>
                    </tr>
                </thead>
                <tbody id="Danh_Sach_Xuat_Chieu"></tbody>
            </table>
        </div>
    </div>
</div>
<div class="p-4 m-1"></div>
{{> Chan_Trang}}

<script>
    const Bang_Danh_Sach_Xuat_Chieu = document.getElementById("Bang_Danh_Sach_Xuat_Chieu")
    const Danh_Sach_Xuat_Chieu = document.getElementById("Danh_Sach_Xuat_Chieu")
    const Ket_Qua_Thang = document.getElementById("Ket_Qua_Thang")
    const Ket_Qua_Nam = document.getElementById("Ket_Qua_Nam")
    const Ket_Qua_Tong_So_Ve = document.getElementById("Ket_Qua_Tong_So_Ve")


    const Thong_Ke_Ve_Ban = async (event) => {
        event.preventDefault()

        const Thong_Bao_Loi = document.getElementById("Thong_Bao_Loi")
        Thong_Bao_Loi.innerHTML = ``
        Thong_Bao_Loi.classList.add("d-none")

        const Bieu_Mau_Thong_Ke = event.target

        const Thang = Bieu_Mau_Thong_Ke.elements.Thang.value
        const Nam = Bieu_Mau_Thong_Ke.elements.Nam.value

        if (!Thang) {
            Thong_Bao_Loi.innerHTML = "Vui lòng chọn tháng!"
            Thong_Bao_Loi.classList.remove("d-none")
            return
        }
        if (!Nam) {
            Thong_Bao_Loi.innerHTML = "Vui lòng chọn năm!"
            Thong_Bao_Loi.classList.remove("d-none")
            return
        }

        const Phan_Hoi = await fetch(`/thong-ke/ve-thang`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                Thang,
                Nam
            })
        })
        const Ket_Qua = await Phan_Hoi.json()
        if (Ket_Qua.error) {
            Thong_Bao_Loi.innerHTML = Ket_Qua.error
            Thong_Bao_Loi.classList.remove("d-none")
            return
        } else {
            Bang_Danh_Sach_Xuat_Chieu.classList.remove("d-none")
            Danh_Sach_Xuat_Chieu.innerHTML = ``

            Ket_Qua_Thang.innerHTML = Ket_Qua.Thang
            Ket_Qua_Nam.innerHTML = Ket_Qua.Nam
            Ket_Qua_Tong_So_Ve.innerHTML = (Ket_Qua.Tong_So_Ve) ? Ket_Qua.Tong_So_Ve.toLocaleString() : "-"

            if (Ket_Qua.Danh_Sach_Tong_Ve_Theo_Ca) {
                Ket_Qua.Danh_Sach_Tong_Ve_Theo_Ca.forEach(Tong_Ve_Theo_Ca => {
                    Danh_Sach_Xuat_Chieu.innerHTML += `
                        <tr>
                            <td>${Tong_Ve_Theo_Ca.Bat_Dau} - ${Tong_Ve_Theo_Ca.Ket_Thuc} (${Tong_Ve_Theo_Ca.Ten})</td>
                            <td>${Tong_Ve_Theo_Ca.So_Luong_Ve.toLocaleString()}</td>
                            <td>${((Tong_Ve_Theo_Ca.So_Luong_Ve / Ket_Qua.Tong_So_Ve) * 100).toFixed(2)}%</td>
                        </tr>
                    `
                })
            } else {
                Danh_Sach_Xuat_Chieu.innerHTML += `
                <tr>
                    <td colspan="3">- Không có xuất chiếu nào trong tháng này!</td>
                </tr>
                `
            }
        }
    }

</script>